[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wfrazier002
[access "refs/for/refs/*"]
	read = group user/wfrazier002
	push = group user/wfrazier002
	label-Code-Review = -2..+2 group user/wfrazier002
	label-Verified = -1..+1 group user/wfrazier002
	rebase = group user/wfrazier002
	removeReviewer = group user/wfrazier002
	submit = group user/wfrazier002
[access "refs/heads/*"]
	read = group user/wfrazier002
	create = group user/wfrazier002
	push = +force group user/wfrazier002
	pushMerge = group user/wfrazier002
[access "refs/tags/*"]
	push = +force group user/wfrazier002
	pushTag = group user/wfrazier002
	pushSignedTag = group user/wfrazier002
